body {
    display: flex;
    flex-direction: column;
    font-family: "roboto";
    margin: auto;
    padding: auto;

}

.headercontainer {
    color: white;
    text-decoration: none;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 24px;
}

.headerlogo {
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.herocontainer {
    display: flex;
    padding: 50px;
    background-color: #1F2937;
    justify-content: space-around;
}

.heroleft {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.heroright {
    background-color: #1F2937;
    color: white;
    display: flex;
}

.heroheader {
    font-size: 48px;
    font-weight: 900;
}

.mainimg {
    height: 150px;
    width: 600px;
    max-height: 100%;
    max-width: 100%;
}

button {
    display: inline-block;
    background-color: #3882f6;
    color: white;
    padding : 8px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}