
body {
    display: flex;
    flex-direction: column;
    font-family: "roboto";
    margin: auto;
    padding: auto;
}
/* Main flex display needs to be space evenly/center */
.headercontainer {
    color: white;
    text-decoration: none;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 24px;
}

.headerlogo {
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.herocontainer {
    display: flex;
    padding: 50px;
    background-color: #1F2937;
    justify-content: space-around;
}

.heroleft {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

.heroright {
    background-color: #1F2937;
    color: rgb(228, 209, 209);
    display: flex;
}

.heroheader {
    font-size: 48px;
    font-weight: 900;
}

.mainimg {
    height: 150px;
    width: 600px;
    max-height: 100%;
    max-width: 100%;
    padding : 8px;    
    background-color: #1F2937;
}

button {
    display: inline-block;
    background-color: #3882f6;
    color: white;
    padding : 8px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em;
}

h2 {
    display: flex;
    flex-direction: center;
    padding-bottom: 2em;
    font-weight: 900;
    font-size: 32px;
}

.cardcontainer {
    display: flex;
    justify-content: space-between;
    gap: 6em;
}

.card {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    margin-bottom: 3em;
}

.card-img {
    height: 150px;
    width: 600px;
    max-height: 100%;
    max-width: 100%;
    padding : 8px;
    border-radius: 25px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 5em;
    padding-top: 8em;
}

.quote p {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
}

.quote em {
    font-size: 28px;
    font-weight: 80;
    color: #1f2937;
}

.cta-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #3882F6;
    color: white;
    margin: 5em;
    padding: 1em;
    border-radius: 20px;
}

.button2  {
    border: solid 2px;
    border-color: white;
    justify-content: flex-end;
    align-content: center;
}

footer {
    background-color: #1f2937;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}