body {
    display: flex;
    flex-direction: column;
}

.headercontainer {
    color: white;
    text-decoration: none;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    text-decoration: none;
    list-style-type: none;
}